.container {
    display: flex;
    justify-content: flex-end;
    width: 3rem;
    height: 3rem;
    transition: filter 0.2s;
}

.theme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
    background: var(--blue);
    border-radius: 50%;
}

.defaultTheme:hover {
    filter: brightness(0.9);
}

.dayTheme:hover {
    filter: brightness(0.9);
}

.darkTheme:hover {
    filter: brightness(0.9);
}

@media (max-width:720px) {
    .theme {
        height: 2rem;
        width: 2rem;
    }


}
