.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 11rem;
    height: 2rem;
    border-radius: 5px;
    padding: 2.7%;
    background: var(--blue-dark);
    transition: filter 0.2s;
}

.theme {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.dayTheme {
    width: 100%;
    margin-bottom: 0;
    background: var(--blue);
    border-radius: 5px;
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s;
}

.darkTheme {
    width: 100%;
    background: var(--blue);
    border-radius: 5px;
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s;
}

.defaultTheme {
    width: 100%;
    background: var(--blue);
    border-radius: 5px;
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.2s;
}

.defaultTheme:hover {
    filter: brightness(0.9);
}

.dayTheme:hover {
    filter: brightness(0.9);
}

.darkTheme:hover {
    filter: brightness(0.9);
}

@media (max-width:720px) {
    .container {
        height: 3rem;
        width: 7rem;
        margin-bottom: 30px;
    }
}