.configOpen {
    margin-top: 32px;
    margin-right: 10px;
    width: 12rem;
    background: var(--blue);
    position: absolute;
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    align-items: center;
    transition: 2s 0.8s;
}

.configOpen strong {
    align-items: flex-start;
    font-size: 1.2rem;
    margin-top: 4px;
}

.theme {
    height: 17%;
    width: 90%;
    background: var(--blue-dark);
    border: 0;

    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-weight: 500;
    border-radius: 5px;
    border-bottom: 1px solid black;
}