.overlay {
    background: rgba(242, 245 ,243, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.configOpen {
    width: 27rem;
    background: var(--blue);
    position: absolute;
    z-index: 1;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}

.configOpen strong {
    align-items: flex-start;
    font-size: 1.2rem;
    margin-top: 4px;
}

.theme {
    width: 90%;
    height: 2rem;
    background: var(--blue-dark);
    border: 0;
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-weight: 500;
    border-radius: 5px;
    border-bottom: 1px solid black;
}

.buttonStyle {
    width: 8rem;
    font-size: 1rem;
    margin: 7px;
    background: var(--blue-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    color: var(--white);
    border: 0;
    font-weight: 500;
    transition: filter 0.2s;
}
.buttonStyle:hover {
    filter: brightness(0.9);
}
