.configOpen {
    width: 12rem;
    background: var(--blue);
    position: absolute;
    z-index: 1;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition:  height 0.2s, margin-top 0.2s;
}

.configOpen strong {
    align-items: flex-start;
    font-size: 1.2rem;
    margin-top: 4px;
}

.theme {
    height: 17%;
    width: 90%;
    background: var(--blue-dark);
    border: 0;

    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    font-weight: 500;
    border-radius: 5px;
    border-bottom: 1px solid black;
}

.buttonStyle {
    width: 8rem;
    font-size: 1rem;
    margin: 7px;
    background: var(--blue-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    color: var(--white);
    border: 0;
    font-weight: 500;
    transition: filter 0.2s;
}
.buttonStyle:hover {
    filter: brightness(0.9);
}
