.profileContainer {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    
}

.profileContainer > img {

    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;

}

.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
}

.profileContainer div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContainer div p img {
    margin-right: 0.5rem;
}

@media (max-width: 720px){
    .profileContainer > img {
        height: 3rem;
        width: 3rem;
    }

    .profileContainer div {
        margin-left: 1rem;
    }

    .profileContainer div strong {
        font-size: 1rem;
        font-weight: 500;
    }

    .profileContainer div strong p {
        font-size: 0.8rem;
    }
}
