.profileContainer {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    
}

.photoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.photoContainer {
    width: 5rem;
    height: 5rem;
    border-radius: 25%;
    background: var(--blue);
    display: flex;
    justify-content: flex-end;

}

.photoContainer > div:last-child {
    background: var(--blue-dark);
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8rem 8rem;
}

.headIconPhoto {
    background: var(--blue-dark);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.bodyIconPhoto {
    background: var(--blue-dark);
    height: 1.8rem;
    width: 1.5rem;
    border-radius: 24% 24% 0 0;
}


.nameAndLevel {
    margin-left: 1rem;
    width: 100%;
    font-size: 0.4rem;
    display: flex;
    flex-direction: column;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;

}

.nameContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonStyle {
    width: 8rem;
    font-size: 1rem;
    margin-left: 14px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    color: var(--white);
    border: 0;
    font-weight: 500;
    transition: filter 0.2s;
}

.buttonStyle:hover {
    filter: brightness(0.9);
}

.profileContainer div strong div {
    margin-left: 0;
}


.profileContainer div p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 500;
}

.profileContainer div p img {
    margin-right: 0.5rem;
}

@media (max-width: 720px){
    .profileContainer > img {
        height: 3rem;
        width: 3rem;
    }

    .photoContainer div {
        margin-top: 5px;
    }


    .buttonStyle {
        width: 6rem;
        font-size: 0.8rem;
        margin-left: 14px;
    }
}
