.container{
    width: 100vw;
}

.challengesContainer {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 1.8rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengesContainer > div {
    max-width: 990px;
}

.challengesContainer header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 7rem;
    margin-bottom: 1rem;
    padding: 3px;
}

.titleHeader {
    width: 12rem; 
    height: 4rem;
    font-family: Rajdhani;
    font-size: 1.8rem;
}


.themeContainer {
    display: flex;
    justify-content: flex-end;
    height: 7rem;
    width: 100%;
    padding-right: 10px;
}


.challengesContainer header img {
    height: 8rem;
    margin-bottom: 15px;
}


.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: var(--blue);
    height: 2rem;
    width: 6.8rem;
    border-radius: 10px;
}

.buttonsContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2rem;
}

.buttonsContainer > div:first-child {
    border-right: 1px solid #f8f1f3;
}

.buttonsContainer > div:last-child {
    border-left: 1px solid #f8f1f3;
}

.challengesContainer footer {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    margin-bottom: 0;
}


.challengesContainer section {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr ;
    gap: 3.25rem;
    align-content: center;
}

@media (max-width: 720px) {

    .container {
        flex-direction: column;
    }

    .challengesContainer {
        height: 100vh;
        width: 100vw;
        margin-left: 0;
    }

    .challengesContainer section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .challengesContainer header {
        height: 4rem;
    }

    .challengesContainer footer {
        margin-top: 0.7rem;
    }
}
