.container {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > div {
    max-width: 990px;
    height: 100vh;
}

.container header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

.container header > div:last-child {

}


.themeContainer {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    width: 5rem;
    width: 100%;
}


.container header img {
    height: 8rem;
    margin-bottom: 15px;
}


.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: var(--blue);
    height: 2rem;
    width: 6.8rem;
    border-radius: 10px;
}

.buttonsContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2rem;
}

.buttonsContainer > div:first-child {
    border-right: 1px solid #f8f1f3;
}

.buttonsContainer > div:last-child {
    border-left: 1px solid #f8f1f3;
}

.container footer {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    margin-bottom: 0;
}


.container section {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr ;
    gap: 3.25rem;
    align-content: center;
}

@media (max-width: 720px) {

    .container {
        height: 100%;
    }

    .container section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .container section > div:last-child {
        height: 19.5rem;
    }

    .container header {
        height: 2.8rem;
        margin-bottom: 20px;
    }

    .container header img {
        height: 3rem;
    }

    .container footer {
        margin-top: 0.7rem;
    }

}

