.container {
    display: flex;
}

.leaderBoard {
    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: space-around;

    margin: 0 auto;
    padding: 1.8rem 0.7rem;

}

.leaderBoard header{
    display: flex;
    
}

.leaderBoard > div {
    max-width: 990px;
    
    
}

.leaderBoard div > header {
    display: flex;
    font-family: Inter;
    font-weight: 600;
    margin-bottom: 3rem;
    
}

.leaderBoard div > div > header > div > strong {
    font-weight: 600;
    font-family: Inter;
    color: var(--text);
    font-size: 0.8rem;
    

}

.leaderBoard div > div > header {
    margin-top: 1.5rem;
    display: flex;
    width: 100%;
    

    justify-content: space-between;
    padding-right: 3rem;
}

.leaderBoard div > div > header > div {
    display: flex;
    width: 9rem;

    justify-content: space-between;
}

.userContainer {
    display: flex;
    margin: 10px 0;
    height: 5.5rem;
    padding: 0.2rem;
    justify-content: space-between;
}

.position {
    display: flex;
    border-radius: 5px;
    width: 5rem;
    
    justify-content: center;
    align-items: center;
    background: var(--white);
    margin-right: 0.5rem;
}

.usersData {
    display: grid;
    grid-template-columns: 4fr 9fr 7fr 5fr;
    border-radius: 5px;
    width: 100%;
    
    background: var(--white);
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem  img {
    height: 4.2rem;
    border-radius: 50%;
}

.NomeAndLevel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.NomeAndLevel > p {
    font-size: 0.9rem;
}

.info {
    display: flex;
    align-items: center;
}

.info > div {
    display: flex;
    flex-direction: row;
}

.info > div > p {
    margin: 0 3px;
}

.info > div > p:first-child {
    color: var(--blue);
}

@media(max-width: 720px) {
    .container {
        flex-direction: column;
    }

    .leaderBoard > div > div {
        width: 100%;
    }
}